



.aprop{
color: black;
font-size:25px;
position:relative;
top:200px; left:100px;
padding:3%;
background: white;
box-sizing: content-box;
width: 70%;
box-shadow: 10px 5px 5px grey;

}

.aprop1{
color: black;
font-size:25px;
position:relative;
top:300px; left: 400px;
padding:3%;
background: white;
box-sizing: content-box;
width: 70%;
box-shadow: 10px 5px 5px grey;

}




.tele1{
float:right;
padding: 1%;
width:20%;        

}



.nous{
float:left;
        

}





.listelog{
background: white;
box-sizing: content-box;
width: 70%;
box-shadow: 10px 5px 5px grey;
position: relative;
top:500.
px; left: 200px;
top:450px;
font-size:20px;
padding: 1%;

}



.Paci{
padding: 1%;
left:50px;
float: right;

}



.Ciees{
padding: 1%;
position:relative;
left:260px;


}




.Xilog{
float: left;
width: 20%;
padding: 1%;


}

.xiang1{
float: left;



}
.CEEIES2{

left: 400px;

}
